export ADDR=:8080
export DB_ADDR=postgresql://postgres:KYGcEhxu7+QrGIxg@34.100.144.217:5432/socialnetwork
export DB_MAX_OPEN_CONNECTIONS=30
export DB_MAX_IDLE_CONNECTIONS=30
export DB_MAX_IDLE_TIME=15m
export DB_MIGRATOR_ADDR=postgresql://postgres:KYGcEhxu7+QrGIxg@34.100.144.217:5432/socialnetwork?sslmode=disable
export ENV=production
export FRONTEND_URL=http://localhost:4000
export FROM_EMAIL=uday@udayteja.com
export SENDGRID_API_KEY=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